name: CI FrontEnd Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:

  docker:
    name: Build & Push Frontend Image (GHCR)
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: check Code using sonarqube
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}


      - name: Set image tag
        id: vars
        run: echo "SHA_TAG=sha-${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Frontend image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/my-frontend:latest
            ghcr.io/${{ github.repository_owner }}/my-frontend:${{ steps.vars.outputs.SHA_TAG }}

  deploy:
    name: Deploy Frontend to Server via SSH
    runs-on: ubuntu-latest
    needs: docker
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: SSH and deploy frontend
        uses: appleboy/ssh-action@v1.0.3
        env:
          GHCR_USER: ${{ github.repository_owner }}
          GHCR_PAT: ${{ secrets.GHCR_PAT }}
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          port: ${{ secrets.SERVER_PORT }}
          envs: GHCR_USER,GHCR_PAT
          script: |
            set -e

            echo "$GHCR_PAT" | docker login ghcr.io -u "$GHCR_USER" --password-stdin

            cd /root/AhmadJaber
            docker compose -f docker-compose.yaml pull frontend
            docker compose -f docker-compose.yaml up -d --no-deps --force-recreate frontend

            docker image prune -f
